<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Express To-Do</title>
</head>
<body>
  <h1>Todos as of <%= time %></h1>
  <ul>
    <% todos.forEach(function(t, idx) { %>
      <li>
        <form action="/todos/<%= idx %>?_method=DELETE"
          id="delete-form" method="POST">
          <button type="submit">X</button>
        </form>
        <a href="/todos/<%= idx %>"><%= t.todo %></a>
          - 
        <%= t.done ? 'done' : 'not done' %>
      </li>
    <% }); %>
  </ul>
  <a form action="/todos" method="GET" >Add To-Do</a>

  <h1>Todo #<%= todoNum %></h1>
  <h3><%= todo.todo %></h3>
  <h3>Complete: <%= todo.done ? 'Yes' : 'No' %></h3>
  <a href="/todos/<%= todoNum - 1 %>/edit">Edit To-Do</a>
  <h1>New Todo</h1>
  <form action="/todos" method="POST" autocomplete="off">
    <input type="text" name="todo">
    <button type="submit">Save Todo</button>
</body>
</html>